################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SWATE_templates/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json


~$*
.*
!.gitignore
.DS_Store
Icon?
/.vs