@inherits LayoutComponentBase

<header class="container">
    <section>
        <Navbar></Navbar>
    </section>
</header>
<main class="container">
    <section>
        @Body
    </section>
</main>
<section>
    <Footer></Footer>
</section>