<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plant growth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:8901//img/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->

    <link type="text/css" rel="stylesheet" href="http://localhost:8901/content/fsdocs-default.css" />
    <link type="text/css" rel="stylesheet" href="http://localhost:8901/content/fsdocs-custom.css" />
    <script type="text/javascript" src="http://localhost:8901/content/fsdocs-tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- BEGIN SEARCH BOX: this adds support for the search box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.css" />
    <!-- END SEARCH BOX: this adds support for the search box -->
    
<script type="text/javascript">
    var wsUri = "ws://localhost:8901/websocket";
    function init()
    {
        websocket = new WebSocket(wsUri);
        websocket.onclose = function(evt) { onClose(evt) };
    }
    function onClose(evt)
    {
        console.log('closing');
        websocket.close();
        document.location.reload();
    }
    window.addEventListener("load", init, false);
</script>

</head> 

<body>
    <div class="columns is-fullheight m-0">
        <div id="fsdocs-menu" class="column is-2 is-paddingless">
            <aside class="menu">
                <div class="container is-paddingless is-marginless has-background-dark">
                    <a href="http://localhost:8901/">
                        <figure class="image is-128x128 container">
                            <img src="http://localhost:8901/img/logo.png">
                        </figure>
                    </a>
                    <h2 class="title has-text-centered has-text-white pb-4">SWATE_templates</h2>
                </div>
                <div class="content">
                    <!-- BEGIN SEARCH BOX: this adds support for the search box -->
                    <div id="header">
                        <div class="field">
                            <div class="control has-icons-left has-icons-right searchbox" id="fsdocs-searchbox">
                                <input data-search-input="" id="search-by" type="search" placeholder="Search..." class="input"/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- END SEARCH BOX: this adds support for the search box -->
                    <ul class="navbar-nav">
                        <li class="nav-header">Links</li>
                        <li class="nav-item" id="fsdocs-license-link"><a class="nav-link" href="{{fsdocs-license-link}}">License (MIT)</a></li>
                        <li class="nav-item" id="fsdocs-release-notes-link"><a class="nav-link" href="{{fsdocs-release-notes-link}}">Release Notes</a></li>
                        <li class="nav-item" id="fsdocs-repository-link"><a class="nav-link" href="{{fsdocs-repository-link}}">Source Repository</a></li>
                        <li class="nav-header">
  sample content
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/0_Markdown-Cheatsheet.html">
    Markdown cheatsheet
  </a>
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/1_fsharp-code-example.html">
    F# code formatting example
  </a>
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/2_inline-references.html">
    Inline package references and charting
  </a>
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/3_notebooks.html">
    Including notebooks
  </a>
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/4_download-badges.html">
    Adding download badges
  </a>
</li>             
<li class="nav-header">
  Templates
</li>             
<li class="nav-item">
  <a class="nav-link" href="http://localhost:8901/templates/Plant-growth.html">
    Plant growth
  </a>
</li>
                        {{fsdocs-list-of-namespaces}}
                    </ul>
                </div>
            </aside>
        </div>
        <div class="column is-10 is-paddingless">
            <div class="section pt-4">
                <div class="container" id="fsdocs-content">
                    
this is the title: input
<p>mdtext</p>
<pre class="fssnip highlighted"><code lang="fsharp"><span class="pp">#r</span> <span class="s">&quot;nuget: FSharp.Formatting&quot;</span>

<span class="k">open</span> <span onmouseout="hideTip(event, 'fs12', 19)" onmouseover="showTip(event, 'fs12', 19)" class="id">FSharp</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs13', 20)" onmouseover="showTip(event, 'fs13', 20)" class="id">Formatting</span><span class="pn">.</span><span class="id">Common</span>
<span class="k">open</span> <span onmouseout="hideTip(event, 'fs12', 21)" onmouseover="showTip(event, 'fs12', 21)" class="id">FSharp</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs13', 22)" onmouseover="showTip(event, 'fs13', 22)" class="id">Formatting</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs14', 23)" onmouseover="showTip(event, 'fs14', 23)" class="id">Markdown</span>

<span class="k">let</span> <span onmouseout="hideTip(event, 'fs15', 24)" onmouseover="showTip(event, 'fs15', 24)" class="id">document</span> <span class="o">=</span> <span class="s">&quot;&quot;&quot;</span>
<span class="s"># F# Hello world</span>
<span class="s">Hello world in [F#](http://fsharp.net) looks like this:</span>

<span class="s">    printfn &quot;Hello world!&quot;</span>

<span class="s">For more see [fsharp.org][fsorg].</span>

<span class="s">  [fsorg]: http://fsharp.org &quot;The F# organization.&quot; &quot;&quot;&quot;</span>

<span class="k">let</span> <span onmouseout="hideTip(event, 'fs16', 25)" onmouseover="showTip(event, 'fs16', 25)" class="id">doc2</span> <span class="o">=</span> <span onmouseout="hideTip(event, 'fs11', 26)" onmouseover="showTip(event, 'fs11', 26)" class="fn">sprintf</span> <span class="s">&quot;# header\n</span><span class="pf">%s</span><span class="s">\nmore markdown text here.&quot;</span> <span onmouseout="hideTip(event, 'fs10', 27)" onmouseover="showTip(event, 'fs10', 27)" class="id">show</span>

<span class="k">let</span> <span onmouseout="hideTip(event, 'fs17', 28)" onmouseover="showTip(event, 'fs17', 28)" class="id">parsed</span> <span class="o">=</span> <span onmouseout="hideTip(event, 'fs18', 29)" onmouseover="showTip(event, 'fs18', 29)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs19', 30)" onmouseover="showTip(event, 'fs19', 30)" class="id">Parse</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs15', 31)" onmouseover="showTip(event, 'fs15', 31)" class="id">document</span><span class="pn">)</span>
<span class="k">let</span> <span onmouseout="hideTip(event, 'fs20', 32)" onmouseover="showTip(event, 'fs20', 32)" class="id">parsed2</span> <span class="o">=</span> <span onmouseout="hideTip(event, 'fs18', 33)" onmouseover="showTip(event, 'fs18', 33)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs19', 34)" onmouseover="showTip(event, 'fs19', 34)" class="id">Parse</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs16', 35)" onmouseover="showTip(event, 'fs16', 35)" class="id">doc2</span><span class="pn">)</span>

<span onmouseout="hideTip(event, 'fs18', 36)" onmouseover="showTip(event, 'fs18', 36)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs21', 37)" onmouseover="showTip(event, 'fs21', 37)" class="id">ToFsx</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs17', 38)" onmouseover="showTip(event, 'fs17', 38)" class="id">parsed</span><span class="pn">)</span>
<span onmouseout="hideTip(event, 'fs18', 39)" onmouseover="showTip(event, 'fs18', 39)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs21', 40)" onmouseover="showTip(event, 'fs21', 40)" class="id">ToFsx</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs20', 41)" onmouseover="showTip(event, 'fs20', 41)" class="id">parsed2</span><span class="pn">)</span>
<span onmouseout="hideTip(event, 'fs18', 42)" onmouseover="showTip(event, 'fs18', 42)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs22', 43)" onmouseover="showTip(event, 'fs22', 43)" class="id">ToMd</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs20', 44)" onmouseover="showTip(event, 'fs20', 44)" class="id">parsed2</span><span class="pn">)</span>

<span class="k">let</span> <span onmouseout="hideTip(event, 'fs23', 45)" onmouseover="showTip(event, 'fs23', 45)" class="id">html</span> <span class="o">=</span> <span onmouseout="hideTip(event, 'fs18', 46)" onmouseover="showTip(event, 'fs18', 46)" class="rt">Markdown</span><span class="pn">.</span><span onmouseout="hideTip(event, 'fs24', 47)" onmouseover="showTip(event, 'fs24', 47)" class="id">ToHtml</span><span class="pn">(</span><span onmouseout="hideTip(event, 'fs17', 48)" onmouseover="showTip(event, 'fs17', 48)" class="id">parsed</span><span class="pn">)</span>
</code></pre>

                </div>
            </div>
        </div>
        <div class="fsdocs-tip" id="fs1">val srcPath : string</div>
<div class="fsdocs-tip" id="fs2">namespace System</div>
<div class="fsdocs-tip" id="fs3">namespace System.IO</div>
<div class="fsdocs-tip" id="fs4">type Path =
  static member ChangeExtension : path: string * extension: string -&gt; string
  static member Combine : path1: string * path2: string -&gt; string + 3 overloads
  static member EndsInDirectorySeparator : path: ReadOnlySpan&lt;char&gt; -&gt; bool + 1 overload
  static member GetDirectoryName : path: ReadOnlySpan&lt;char&gt; -&gt; ReadOnlySpan&lt;char&gt; + 1 overload
  static member GetExtension : path: ReadOnlySpan&lt;char&gt; -&gt; ReadOnlySpan&lt;char&gt; + 1 overload
  static member GetFileName : path: ReadOnlySpan&lt;char&gt; -&gt; ReadOnlySpan&lt;char&gt; + 1 overload
  static member GetFileNameWithoutExtension : path: ReadOnlySpan&lt;char&gt; -&gt; ReadOnlySpan&lt;char&gt; + 1 overload
  static member GetFullPath : path: string -&gt; string + 1 overload
  static member GetInvalidFileNameChars : unit -&gt; char []
  static member GetInvalidPathChars : unit -&gt; char []
  ...<br /><em>&lt;summary&gt;Performs operations on &lt;see cref=&quot;T:System.String&quot; /&gt; instances that contain file or directory path information. These operations are performed in a cross-platform manner.&lt;/summary&gt;</em></div>
<div class="fsdocs-tip" id="fs5">System.IO.Path.Combine([&lt;System.ParamArray&gt;] paths: string []) : string<br />System.IO.Path.Combine(path1: string, path2: string) : string<br />System.IO.Path.Combine(path1: string, path2: string, path3: string) : string<br />System.IO.Path.Combine(path1: string, path2: string, path3: string, path4: string) : string</div>
<div class="fsdocs-tip" id="fs6">val title : string</div>
<div class="fsdocs-tip" id="fs7">System.IO.Path.GetFileName(path: string) : string<br />System.IO.Path.GetFileName(path: System.ReadOnlySpan&lt;char&gt;) : System.ReadOnlySpan&lt;char&gt;</div>
<div class="fsdocs-tip" id="fs8">val s : string</div>
<div class="fsdocs-tip" id="fs9">System.String.Replace(oldValue: string, newValue: string) : string<br />System.String.Replace(oldChar: char, newChar: char) : string<br />System.String.Replace(oldValue: string, newValue: string, comparisonType: System.StringComparison) : string<br />System.String.Replace(oldValue: string, newValue: string, ignoreCase: bool, culture: System.Globalization.CultureInfo) : string</div>
<div class="fsdocs-tip" id="fs10">val show : string</div>
<div class="fsdocs-tip" id="fs11">val sprintf : format:Printf.StringFormat&lt;&#39;T&gt; -&gt; &#39;T<br /><em>&lt;summary&gt;Print to a string using the given format.&lt;/summary&gt;<br />&lt;param name=&quot;format&quot;&gt;The formatter.&lt;/param&gt;<br />&lt;returns&gt;The formatted result.&lt;/returns&gt;</em></div>
<div class="fsdocs-tip" id="fs12">Multiple items<br />namespace FSharp<br /><br />--------------------<br />namespace Microsoft.FSharp</div>
<div class="fsdocs-tip" id="fs13">namespace FSharp.Formatting</div>
<div class="fsdocs-tip" id="fs14">namespace FSharp.Formatting.Markdown</div>
<div class="fsdocs-tip" id="fs15">val document : string</div>
<div class="fsdocs-tip" id="fs16">val doc2 : string</div>
<div class="fsdocs-tip" id="fs17">val parsed : MarkdownDocument</div>
<div class="fsdocs-tip" id="fs18">type Markdown =
  private new : unit -&gt; Markdown
  static member Parse : text:string * ?newline:string * ?parseOptions:MarkdownParseOptions -&gt; MarkdownDocument
  static member ToFsx : doc:MarkdownDocument * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string
  static member ToHtml : doc:MarkdownDocument * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string + 1 overload
  static member ToLatex : doc:MarkdownDocument * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string + 1 overload
  static member ToMd : doc:MarkdownDocument * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string
  static member ToPynb : doc:MarkdownDocument * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string
  static member WriteHtml : doc:MarkdownDocument * writer:TextWriter * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; unit + 1 overload
  static member WriteLatex : doc:MarkdownDocument * writer:TextWriter * ?newline:string * ?substitutions:(ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; unit + 1 overload<br /><em>&lt;summary&gt;
 Static class that provides methods for formatting 
 and transforming Markdown documents.
&lt;/summary&gt;</em></div>
<div class="fsdocs-tip" id="fs19">static member Markdown.Parse : text:string * ?newline:string * ?parseOptions:MarkdownParseOptions -&gt; MarkdownDocument</div>
<div class="fsdocs-tip" id="fs20">val parsed2 : MarkdownDocument</div>
<div class="fsdocs-tip" id="fs21">static member Markdown.ToFsx : doc:MarkdownDocument * ?newline:string * ?substitutions:(FSharp.Formatting.Templating.ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string</div>
<div class="fsdocs-tip" id="fs22">static member Markdown.ToMd : doc:MarkdownDocument * ?newline:string * ?substitutions:(FSharp.Formatting.Templating.ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string</div>
<div class="fsdocs-tip" id="fs23">val html : string</div>
<div class="fsdocs-tip" id="fs24">static member Markdown.ToHtml : markdownText:string * ?newline:string * ?substitutions:(FSharp.Formatting.Templating.ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string<br />static member Markdown.ToHtml : doc:MarkdownDocument * ?newline:string * ?substitutions:(FSharp.Formatting.Templating.ParamKey * string) list * ?crefResolver:(string -&gt; (string * string) option) -&gt; string</div>

    </div>

    <!-- BEGIN SEARCH BOX: this adds support for the search box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.css" />
    <script type="text/javascript">var fsdocs_search_baseurl = 'http://localhost:8901/'</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.8/lunr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/JavaScript-autoComplete/1.0.4/auto-complete.min.js"></script>
    <script type="text/javascript" src="http://localhost:8901/content/fsdocs-search.js"></script>
    <!-- END SEARCH BOX: this adds support for the search box -->
</body>

</html>