<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/pico.cyan.min.css" />
    <link rel="stylesheet" href="/css/highlightjs.atom-one-dark.min.css" />
    <script src="/js/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>