<table>

    <thead>
        <tr>
            <td scope="col">Version</td>
            <td scope="col">Name</td>
            <td scope="col">Release on</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var template in SortTemplates(templates))
        {
            <tr>
                <td><a href="/template/@template.Id/@(template.GetSemanticVersionString())">@(template.GetSemanticVersionString())</a></td>
                <td>@template.Name</td>
                <td>@template.ReleaseDate</td>
            </tr>
        }
    </tbody>

</table>


@code {

    [Parameter]
    public SwateTemplateMetadata[] templates { get; set; }

    private IEnumerable<SwateTemplateMetadata> SortTemplates(SwateTemplateMetadata[] templates) =>
        templates.OrderByDescending(p => p.MajorVersion)
            .ThenByDescending(p => p.MinorVersion)
            .ThenByDescending(p => p.PatchVersion);
}
